form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
}

label {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

input[type="date"] {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

button[type="submit"] {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #61dafb;
  border: none;
  width: 400px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #21a1f1;
}

/** Table Styles */

table {
  margin-top: 40px;
  width: 600px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #e0e0e0;
}
